<div class="bottom-area">

    <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

    <ul class="main-menu visible-on-click" id="main-menu">
        <li class="drop-down"><a href="#!">HOME<i class="ion-ios-arrow-down"></i></a>

            <ul class="drop-down-menu">
                <li><a href="#">FEATURED</a></li>
                <li><a href="#">ABOUT</a></li>
                <li class="drop-down"><a href="#!">CATEGORIES<i class="ion-ios-arrow-right"></i></a>
                    <ul class="drop-down-menu drop-down-inner">
                        <li><a href="#">FEATURED</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">CATEGORIES</a></li>
                    </ul>
                </li>
            </ul>

        </li>
        <li><a href="#">FEATURED</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CATEGORIES</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul><!-- main-menu -->

</div><!-- conatiner -->