<div class="bottom-area">

    <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

    <ul class="main-menu visible-on-click" id="main-menu">
        <li >
            <a routerLink="/" >Anasayfa</a>         
        </li>
        <li><a routerLink="/iletisim">İletişim</a></li>
        <li><a routerLink="/hakkimizda">Hakkımızda</a></li>
        <li><a href="#">CATEGORIES</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul><!-- main-menu -->

</div><!-- conatiner -->