<div class="blog-posts">
  <div
    class="single-post"
    *ngFor="
      let post of posts
        | paginate:
           {
            itemsPerPage: pageCount,
            currentPage: pageNumber,
            totalItems: totalPostCount
            }
    "
  >
    <div class="image-wrapper">
      <img [src]="post.BackgroundImgUrl" alt="Blog Image" />
    </div>

    <div class="icons">
      <div class="left-area">
        <a class="btn caegory-btn" href="#"
          ><b>{{ post.category.categoryName }}</b></a
        >
      </div>
      <ul class="right-area social-icons">
        <li>
          <a href="#"><i class="ion-android-share-alt"></i>Share</a>
        </li>
        <li>
          <a href="#"
            ><i class="ion-android-favorite-outline"></i>{{ post.likeCount }}</a
          >
        </li>
        <li>
          <a href="#"
            ><i class="ion-android-textsms"></i>{{ post.readCount }}</a
          >
        </li>
      </ul>
    </div>
    <p class="date">
      <em>{{ post.releaseDate | date: "dd.MM.yyyy" }}</em>
    </p>
    <h3 class="title">
      <a href="#">
        <b class="light-color"> {{ post.title }}</b>
      </a>
    </h3>
    <p>
      {{ post.text }}
    </p>
    <a class="btn read-more-btn" href="#"><b>Devamı...</b></a>
  </div>
  <!-- single-post -->

  <a *ngIf="totalPostCount > 0" class="btn load-more-btn" href="#"
    >Daha Fazla Yükle</a
  >
  <pagination-controls
    responsive="true"
    (pageChange)="pageChanged($event)"
    previousLabel="Geri"
    nextLabel="İleri"
  ></pagination-controls>
</div>
<!-- blog-posts -->
