
  <div class="single-post mb-5"
    
    *ngFor="
      let post of posts
        | paginate:
           {
            itemsPerPage: perPageItemCount,
            currentPage: pageNumber,
            totalItems: totalPostCount
            }
    "
  >
    <div class="image-wrapper ">
      <img src="../../../../../assets/images/blog-1-1000x600.jpg" alt="Blog Image" />
    </div>

    <div class="icons">
      <div class="left-area">
        <a class="btn caegory-btn" [routerLink]="['/kategori', post.category.categoryName | urlFormat,post.category.id]"
          ><b>{{ post.category.categoryName }}</b></a
        >
      </div>
      <ul class="right-area social-icons">
        <li>
          <a href="#"><i class="ion-android-share-alt"></i>Share</a>
        </li>
        <li>
          <a href="#" title="Beğeni Sayısı"
            ><i class="ion-android-favorite-outline"></i>{{ post.likeCount }}</a
          >
        </li>
        <li>
          <a href="#" title="Yorum Sayısı"
            ><i class="ion-android-textsms"></i>{{ post.commentCount }}</a
          >
        </li>
        <li>
          <a href="#" title="Görüntülenme Sayısı"
          
            ><i class="fa fa-eye" ></i>{{ post.readCount }} </a
          >
        </li>
      </ul>
    </div>
    <p class="date">
      <em>{{ post.releaseDate | date: "dd.MM.yyyy" }}</em>
    </p>
    <h3 class="title">
      <a href="#">
        <b class="light-color"> {{ post.title }}</b>
      </a>
    </h3>
    <p>
      {{ post.text }}
    </p>
    <a class="btn read-more-btn" [routerLink]="['/makale',post.title | urlFormat ,post.id]"><b>Devamı...</b></a>
    
 
  </div>
  <!-- single-post -->

<div *ngIf="posts?.length >0">
  
  <pagination-controls
  responsive="true"
  (pageChange)="pageChanged($event)"
  previousLabel="Geri"
  nextLabel="İleri "
></pagination-controls>
</div>

