<div class="top-menu">

    <ul class="left-area welcome-area">
        <li class="hello-blog">Hello nice people, welcome to my blog</li>
        <li><a href="mailto:contact@juliblog.com">contact@juliblog.com</a></li>
    </ul><!-- left-area -->


    <div class="right-area">

        <div class="src-area">
            <form action="post">
                <input #searchText class="src-input" type="text" placeholder="Search">
                <button (click)="searchPost(searchText.value)" class="src-btn" type="button"><i class="ion-ios-search-strong"></i></button>
            </form>
        </div><!-- src-area -->

        <ul class="social-icons">
            <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
            <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
            <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
        </ul><!-- right-area -->

    </div><!-- right-area -->

</div><!-- top-menu -->
